.grid-container {
    display: grid;
    margin: 1rem auto;
    padding: 10px;
    background-color: rgb(150, 192, 246);
    grid-gap: 10px;
    grid-template-columns: 33% 34% 33%;
    /* grid-template-rows: 67% 33%;
    row-gap: 50px; */
}

.grid-item {
    max-width: 400px;
}

img {
    max-width: 300px;
    max-height: 300px;
    border: 5px solid rgb(40, 111, 63);
}